<h1>Sign Up Form</h1>
<div class='shadow-sm p-3 mb-5 rounded'>
<%= form_with model: @user, local:true do |f|%>
<% if @user.errors.any? %>
<p>
    <%= @user.errors.full_messages.join(', ')%>
</p>
<% end %>

<div class='form-group'>
    <%= f.label :first_name  %> 
    <%= f.text_field :first_name  %> 
</div>
<div class='form-group'>
    <%= f.label :last_name  %> 
    <%= f.text_field :last_name  %> 
</div>
<div class='form-group'>
    <%= f.label :email  %> 
    <%= f.email_field :email  %> 
</div>
<div class='form-group'>
    <%= f.label :password %>
    <%= f.password_field :password %>
</div>
<div class='form-group'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
</div>

<%= f.submit "Sign up", class: 'btn btn-success'%>
<% end %>
</div>